<<<<<<< HEAD
.flex-container{
    display:flex;
=======
body {
    background-color: rgb(154, 151, 151);
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
>>>>>>> rps-ui
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD
button {
    width: 150px;
    height: 30px;
    background-color: grey;
    border-radius: 3px;
    font-size: large;
}
button:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
=======
h1 {
    font-size: 2.5rem;
    color: hsl(0, 0%, 5%);
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 2.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(200, 97%, 25%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: hsl(200, 100%, 70%);
}

#gameOver {
    color: greenyellow;
    font-size: 2.5rem;
    margin: 20px 0 30px;
}

#resetBtn {
    font-size: 1rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(200, 97%, 25%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#resultMessage {
    font-size: 1rem;
    margin: 20px 0 30px;
}

.scoreDisplay {
    font-size: 1rem;
}

.greenText, #playerScoreDisplay {
    color: rgb(1, 181, 1);
}

.redText, #computerScoreDisplay {
    color: rgb(205, 0, 0);
>>>>>>> rps-ui
}