body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: hsl(0, 0%, 10%);
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 2.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(200, 100%, 50%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: hsl(200, 100%,80%);
}

#gameOver {
    color: black;
    font-size: 2.5rem;
    margin: 20px 0 30px;
}

#resetBtn {
    font-size: 1.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(200, 100%, 50%);
    cursor: pointer;
    transition: background-color 0.5s ease;
    
}

#resetBtn:hover {
    background-color: hsl(200, 100%,80%);
}
#resultMessage {
    font-size: 1rem;
    margin: 20px 0 30px;
}

.scoreDisplay {
    font-size: 1rem;
}

.greenText, #playerScoreDisplay {
    color: blue;
}

.redText, #computerScoreDisplay {
    color: blue;
}