body {
    background-color: rgb(154, 151, 151);
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reset {
    display: none;
}
h1 {
    font-size: 2.5rem;
    color: hsl(0, 0%, 15%);
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 2.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(200, 100%, 50%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: hsl(200, 100%, 70%);
}

#playerDisplay, 
#computerDisplay,
#resultDisplay {
    font-size: 1.5rem;
    margin: 0 0 30px;
}

.scoreDisplay {
    font-size: 1rem;
}

.greenText, #playerScoreDisplay {
    color: rgb(1, 181, 1);
}

.redText, #computerScoreDisplay {
    color: rgb(205, 0, 0);
}