.flex-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 150px;
    height: 30px;
    background-color: grey;
    border-radius: 3px;
    font-size: large;
}
button:hover {
    cursor: pointer;
}